@model IEnumerable<EPLTD.Models.Performance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlotStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlotEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlotStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlotEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerformanceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PerformanceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PerformanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
