@model EPLTD.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
