@model PaginatedList<EPLTD.Models.Event>

@{

}

<br />
<br />
<br />
<div style="text-align:center">
    <h1>Event Information</h1>
    <br />

    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<!-- Search Area -->
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search By any column: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<!-- End of search Area -->


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Event Name</a>
            </th>
            <th>
                Event Description
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Event Type</a>
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EventID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EventID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EventID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<div style="text-align:center">

    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../Customers/Index'"><h4>Customers</h4></button>
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../Locations/Index'"><h4>Locations</h4></button>
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../Performances/Index'"><h4>Performances</h4></button>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
     asp-route-sortOrder="@ViewData["CurrentSort"]"
     asp-route-pageNumber="@(Model.PageIndex - 1)"
     asp-route-currentFilter="@ViewData["CurrentFilter"]"
     class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
     asp-route-sortOrder="@ViewData["CurrentSort"]"
     asp-route-pageNumber="@(Model.PageIndex + 1)"
     asp-route-currentFilter="@ViewData["CurrentFilter"]"
     class="btn btn-default @nextDisabled">
    Next
</a>
