@model PaginatedList<EPLTD.Models.Customer>

@{
}
<br />
<br />
<br />
<div style="text-align:center">
    <h1>Customers</h1>
    <br />

    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<!-- Search Area -->
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search By any column: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<!-- End of search Area -->

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">  First Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">  Last Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">  Contact Email</a>
            </th>
            <th>
                ContactNumber
            </th>
            <th>
                Age
            </th>
            <th>
                Event
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<div style="text-align:center">
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../Events/Index'"><h4>Event Information</h4></button>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
     asp-route-sortOrder="@ViewData["CurrentSort"]"
     asp-route-pageNumber="@(Model.PageIndex - 1)"
     asp-route-currentFilter="@ViewData["CurrentFilter"]"
     class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
     asp-route-sortOrder="@ViewData["CurrentSort"]"
     asp-route-pageNumber="@(Model.PageIndex + 1)"
     asp-route-currentFilter="@ViewData["CurrentFilter"]"
     class="btn btn-default @nextDisabled">
    Next
</a>

