@model PaginatedList<EPLTD.Models.Performers>

@{

}
<br />
<br />
<br />
<div style="text-align:center">
    <h1>Performers</h1>
    <br />

    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<!-- Search Area -->
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search By any column: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<!-- End of search Area -->

<table class="table">
    <thead>
        <tr>
            <th>
                GenreID
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">  Full Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ContactEmailSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">  Contact Email</a>
            </th>
            <th>
                Contact Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PerformersID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PerformersID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PerformersID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<div style="text-align:center">
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../Participants/Index'"><h4>Participants</h4></button>
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../ActTypes/Index'"><h4>Act Genres</h4></button>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
     asp-route-sortOrder="@ViewData["CurrentSort"]"
     asp-route-pageNumber="@(Model.PageIndex - 1)"
     asp-route-currentFilter="@ViewData["CurrentFilter"]"
     class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
     asp-route-sortOrder="@ViewData["CurrentSort"]"
     asp-route-pageNumber="@(Model.PageIndex + 1)"
     asp-route-currentFilter="@ViewData["CurrentFilter"]"
     class="btn btn-default @nextDisabled">
    Next
</a>









