@model IEnumerable<EPLTD.Models.Organizer>

@{

}


<br />
<br />
<br />
<div style="text-align:center">
    <h1>Organizers</h1>
    <br />

    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizerInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizerRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizerInfo.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizerRole.RoleName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrganizerID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrganizerID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrganizerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<div style="text-align:center">

    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../OrganizerInfoes/Index'"><h4>Organizer Information</h4></button>
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../OrganizerRoles/Index'"><h4>Organizer Roles</h4></button>
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../OrganizersOccupieds/Index'"><h4>Organizers Occupied</h4></button>
</div>