@model IEnumerable<EPLTD.Models.Participants>

@{

}

<br />
<br />
<br />
<div style="text-align:center">
    <h1>Participants</h1>
    <br />

    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlotStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlotEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedCosts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualCosts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlotStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlotEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedCosts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualCosts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performance.PerformanceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performers.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ParticipantID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ParticipantID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ParticipantID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
<div style="text-align:center">
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../Performances/Index'"><h4>Performances</h4></button>
    <button type="button" class="btn btn-primary btn-group" onclick="location.href='../Performers/Index'"><h4>Performers</h4></button>
</div>